<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <button onclick="window.history.back()">Volver ⬅</button>
    <style>
        body { font-family: Arial, Helvetica, sans-serif; line-height: 1.6; margin: 0; color:black }
        header { background: #18395d; color: white; padding: 1rem; text-align: center; }
        section { padding: 2rem; max-width: 800px; margin: auto; }
    </style>

</head>
<body>
    
    <header>
        <h1>CONTACTOS</h1>
    </header>

    <section>
        <h2>Metodos de Contacto:</h2>
        <ul>
            <li><strong>Correo:</strong>loquendodev@gmail.com</li>
            <li><strong>Numero:</strong>+56 9 2103 4293</li>
        </ul>
    </section>


</body>
</html>