<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="¿Quienes somos?" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes Somos? | LoquendoDev</title>
    <style>
        body { font-family: Arial, Helvetica, sans-serif; line-height: 1.6; margin: 0; color:black }
        header { background: #2c3e50; color: white; padding: 1rem; text-align: center; }
        section { padding: 2rem; max-width: 800px; margin: auto; }
        .highlight { color: cadetblue; font-weight: bold; }
    </style>
</head>
<body>
    
    <header>
        <h1> pues somos loquendodev </h1>
    </header>

    <section>
        <h2>¿Quienes somos otra vez?</h2>
        <p>de nuevo, somo loquendodev</p>

        <h3>¿Mambo?</h3>
        <ul>
            <li><strong>Mambo:</strong> Omatsuri mambo</li>
            <li><strong>zabu zabu:</strong> yura yura</li>
            <li><strong>omatsuri:</strong> mambo</li>
        </ul>
    </section>



</body>
</html>