<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="icon" href="img/logo.png" type="image/png">
    <link rel="stylesheet" href="/styles.css">
    <button onclick="window.history.back()">Volver ⬅</button>
</head>
<body>
    <header>
        <h1>NUESTROS PROYECTOS</h1>
        <nav class="barra-lateral">
            <ul>
                <button><a href="../index.html">Inicio</a></button>
                <button><a href="empanadas.html">¿Quienes Somos?</a></button>
                <button><a href="contacto.html">Contacto</a></button>
            </ul>
        </nav>

        <h1>Nuestros Proyectos</h1>
        <p>Proyectos realizados por LoquendDev</p>
    </header>
    
    <main>

        <div class="filtros">
            <button class="filtros-btn active">Todos</button>
            <button class="filtros-btn" data-filter="web">Carhub Project</button>
            <button class="filtros-btn" data-filter="web">Mambo</button>
            <button class="filtros-btn" data-filter="web">MAMBO</button>
        </div>

        <div class="grid">
            <div class="carta-proyecto" data-category="web">
                <div class="imagen-proyecto">[Imagen]</div>
                <div class="info-proyecto">
                    <h3>CarHub</h3>
                    <p>Plataforma E-Commerce</p>
                </div>
            </div>

            <div class="carta-proyecto" data-category="web">
                <div class="imagen-proyecto">[Imagen]</div>
                <div class="info-proyecto">
                    <h3>[Titulo]</h3>
                    <p>[Descripcion]</p>
                </div>
            </div>

            <div class="carta-proyecto" data-category="web">
                <div class="imagen-proyecto">[Imagen]</div>
                <div class="info-proyecto">
                    <h3>[Titulo]</h3>
                    <p>[Descripcion]</p>
                </div>
            </div>

        </div>

    </main>

    <script src="script.js"></script>

    <footer class="copyright">
        <p>&copy; 2077 LoquendoDEV Todos los derechos reservados</p>
    </footer>

</body>
</html>